@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
  @media (max-width: 1024px) {
    padding: 0 1rem;
  }
}
.container {
  margin: auto;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}

.main-width {
  max-width: 1024px;
  padding: 0;
  margin: auto;
}
