@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
}

main {
  padding: 0 1rem;
}

.container {
  margin: auto;
  position: relative;
}
