.explorer {
  text-align: center;
  padding: 1rem 2rem 2rem 2rem;

  & h2 {
    margin: 0;
  }
  & P {
    font-weight: 350;
    margin: 1.5rem 0;
  }
  & button {
    background-image: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #686868;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
  & button:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    cursor: pointer;
    transition-duration: 0.25s;
  }
}
