.menus {
  background-color: #f6f6f6;

  & h2 {
    margin-bottom: 2rem;
  }
  & .menus__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .card {
    border: 1px solid black;
    height: 4rem;
  }
}
