.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  margin: 0 -1rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;

  & i {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  & .fas {
    color: transparent;
    background-image: linear-gradient(
      0deg,
      rgba(147, 86, 220, 1),
      rgba(255, 121, 218, 1)
    );
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 300ms;
    &:hover {
      opacity: 1;
    }
  }

  &__img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    margin: 0;
  }
}
